@using EducationSystem.DataAccess.Models;
@model List<Subject>

@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach(Subject e in @Model)
{

    <li>@e.SubjectName - @e.Program.ProgramName</li>
}
